.textborder1 {
	border: 1px solid #ccc;
	border-radius: 5px;
}

.textborder2 .text-overflow:not(.on-scrollend) {
	-webkit-mask: linear-gradient(#000 70%, transparent 100%);
	mask: linear-gradient(to bottom, #000 70%, transparent 100%);
}
.textborder2::before,
.textborder2::after {
	content: "";
	position: absolute;
	border: thin solid;
}
.textborder2::before {
	inset: 2px;
	border-image: linear-gradient(-45deg, #333 0%, #ddd 40%, transparent 40%, transparent 60%, #ddd 60%, #333) 1;
}
.textborder2::after {
	inset: 5px;
	border-image: linear-gradient(-45deg, transparent 1%, #333 1%, #ddd 20%, transparent 20%, transparent 70%, #ddd 70%, #333 99%, transparent 99%, transparent) 1;
}